In [10]:
%load_ext autoreload
%autoreload 2

import sys

if "../" not in sys.path:
    sys.path.append("../")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import pandas as pd
from utils.db import SQLClient

sql_client = SQLClient("../../db/topoai.db")
sql_client

In [18]:
df_1 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2018_1_10000.csv")
df_2 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2018_2_10000.csv")

df_3 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2019_1_10000.csv")
df_4 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2019_2_10000.csv")

df_5 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2020_1_10000.csv")
df_6 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2020_2_10000.csv")

df_7 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2021_1_10000.csv")
df_8 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2021_2_10000.csv")

df_9 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2022_1_10000.csv")
df_10 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2022_2_10000.csv")

df_11 = pd.read_csv("../data/NDVI_NDWI_Metropolitana_2023_1_10000.csv")

data = pd.concat(
    [
        df_1,
        df_2,
        df_3,
        df_4,
        df_5,
        df_6,
        df_7,
        df_8,
        df_9,
        df_10,
        df_11,
    ]
).reset_index(drop=True)

data

,system:index,NDVI,NDWI,date,day,month,year,.geo
0,2020_01_01_0,-0.002796,0.021446,2020-01-01T00:00:00,1,1,2020,"{""type"":""Point"",""coordinates"":[-100.4707616512..."
1,2020_01_01_1,0.004133,0.065673,2020-01-01T00:00:00,1,1,2020,"{""type"":""Point"",""coordinates"":[-100.5578891580..."
2,2020_01_01_2,0.007274,0.061311,2020-01-01T00:00:00,1,1,2020,"{""type"":""Point"",""coordinates"":[-100.3015179346..."
3,2020_01_01_3,-0.004987,0.151458,2020-01-01T00:00:00,1,1,2020,"{""type"":""Point"",""coordinates"":[-100.4317975217..."
4,2020_01_01_4,-0.004674,0.050414,2020-01-01T00:00:00,1,1,2020,"{""type"":""Point"",""coordinates"":[-100.1635587327..."
...,...,...,...,...,...,...,...,...
3429279,2020_12_30_9995,0.167185,-0.033271,2020-12-30T00:00:00,30,12,2020,"{""type"":""Point"",""coordinates"":[-100.2780298169..."
3429280,2020_12_30_9996,0.150586,-0.070648,2020-12-30T00:00:00,30,12,2020,"{""type"":""Point"",""coordinates"":[-100.5387238581..."
3429281,2020_12_30_9997,0.217080,-0.035889,2020-12-30T00:00:00,30,12,2020,"{""type"":""Point"",""coordinates"":[-100.3568081180..."
3429282,2020_12_30_9998,0.126769,-0.034792,2020-12-30T00:00:00,30,12,2020,"{""type"":""Point"",""coordinates"":[-100.3875052608..."
3429283,2020_12_30_9999,0.516827,-0.087491,2020-12-30T00:00:00,30,12,2020,"{""type"":""Point"",""coordinates"":[-100.4531318048..."

In [19]:
# Todos los puntos ya tienen un identificador Ãºnico
# en la columna de `system:index`
data.loc[data["system:index"].str.endswith("_0"), ".geo"].head(10).tolist()

['{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}',
 '{"type":"Point","coordinates":[-100.47076165123555,25.802527011333225]}']

In [20]:
# Se crean las columnas de coordenadas de logitud y latitud

# fmt: off
data["coordinates"] = (
    data[".geo"]
    .str.split("[").str[1]
    .str.split("]").str[0]
    .str.split(",")
)
# fmt: on

data = data.drop(columns=[".geo"])

data

,system:index,NDVI,NDWI,date,day,month,year,coordinates
0,2020_01_01_0,-0.002796,0.021446,2020-01-01T00:00:00,1,1,2020,"[-100.47076165123555, 25.802527011333225]"
1,2020_01_01_1,0.004133,0.065673,2020-01-01T00:00:00,1,1,2020,"[-100.55788915808893, 25.76978721426321]"
2,2020_01_01_2,0.007274,0.061311,2020-01-01T00:00:00,1,1,2020,"[-100.30151793467795, 25.628927794667707]"
3,2020_01_01_3,-0.004987,0.151458,2020-01-01T00:00:00,1,1,2020,"[-100.43179752176496, 25.656073763680467]"
4,2020_01_01_4,-0.004674,0.050414,2020-01-01T00:00:00,1,1,2020,"[-100.1635587327749, 25.73191734812503]"
...,...,...,...,...,...,...,...,...
3429279,2020_12_30_9995,0.167185,-0.033271,2020-12-30T00:00:00,30,12,2020,"[-100.27802981698791, 25.752148342655314]"
3429280,2020_12_30_9996,0.150586,-0.070648,2020-12-30T00:00:00,30,12,2020,"[-100.53872385810779, 25.819892611331046]"
3429281,2020_12_30_9997,0.217080,-0.035889,2020-12-30T00:00:00,30,12,2020,"[-100.35680811800103, 25.685591937552672]"
3429282,2020_12_30_9998,0.126769,-0.034792,2020-12-30T00:00:00,30,12,2020,"[-100.38750526083257, 25.71732474805192]"
3429283,2020_12_30_9999,0.516827,-0.087491,2020-12-30T00:00:00,30,12,2020,"[-100.45313180483426, 25.74594898906548]"

In [21]:
data["longitude"] = data["coordinates"].str[0].astype(float)
data["latitude"] = data["coordinates"].str[1].astype(float)
data = data.drop(columns=["coordinates"])

data

,system:index,NDVI,NDWI,date,day,month,year,longitude,latitude
0,2020_01_01_0,-0.002796,0.021446,2020-01-01T00:00:00,1,1,2020,-100.470762,25.802527
1,2020_01_01_1,0.004133,0.065673,2020-01-01T00:00:00,1,1,2020,-100.557889,25.769787
2,2020_01_01_2,0.007274,0.061311,2020-01-01T00:00:00,1,1,2020,-100.301518,25.628928
3,2020_01_01_3,-0.004987,0.151458,2020-01-01T00:00:00,1,1,2020,-100.431798,25.656074
4,2020_01_01_4,-0.004674,0.050414,2020-01-01T00:00:00,1,1,2020,-100.163559,25.731917
...,...,...,...,...,...,...,...,...,...
3429279,2020_12_30_9995,0.167185,-0.033271,2020-12-30T00:00:00,30,12,2020,-100.278030,25.752148
3429280,2020_12_30_9996,0.150586,-0.070648,2020-12-30T00:00:00,30,12,2020,-100.538724,25.819893
3429281,2020_12_30_9997,0.217080,-0.035889,2020-12-30T00:00:00,30,12,2020,-100.356808,25.685592
3429282,2020_12_30_9998,0.126769,-0.034792,2020-12-30T00:00:00,30,12,2020,-100.387505,25.717325
3429283,2020_12_30_9999,0.516827,-0.087491,2020-12-30T00:00:00,30,12,2020,-100.453132,25.745949

## Checkpoint 1

```python
# Se guarda en almacenamiento local para que no se muera el kernel por falta de memoria.
# Con 16 GB apenas y puede
data.to_parquet("temp.parquet.gzip", compression="gzip")
```

In [3]:
# data = pd.read_parquet("temp.parquet.gzip")
# data

In [22]:
# Preparar el dataframe para insertar en la base de datos
data["system:index"] = data["system:index"].str.split("_").str[-1]

data = data.rename(
    columns={
        "system:index": "point_id",
        "NDVI": "ndvi",
        "NDWI": "ndwi",
    },
)
data["date"] = pd.to_datetime(data["date"]).dt.date
data = data.astype(
    {
        "point_id": "int16",
        "ndvi": "float32",
        "ndwi": "float32",
        # "date": "datetime",
        "longitude": "float32",
        "latitude": "float32",
    }
)

# fmt: off
data = (
    data[[
        "point_id", 
        "date", 
        "ndvi", 
        "ndwi", 
        "longitude", 
        "latitude",
    ]]
    .sort_values(["date", "point_id"])
    .reset_index(drop=True)
)
# fmt: on

data

         point_id        date      ndvi      ndwi   longitude   latitude
0               0  2020-01-01 -0.002796  0.021446 -100.470764  25.802526
1               1  2020-01-01  0.004133  0.065673 -100.557892  25.769787
2               2  2020-01-01  0.007274  0.061311 -100.301521  25.628927
3               3  2020-01-01 -0.004987  0.151458 -100.431801  25.656075
4               4  2020-01-01 -0.004674  0.050414 -100.163559  25.731916
...           ...         ...       ...       ...         ...        ...
3429279      9995  2020-12-30  0.167185 -0.033271 -100.278030  25.752148
3429280      9996  2020-12-30  0.150586 -0.070648 -100.538727  25.819893
3429281      9997  2020-12-30  0.217080 -0.035889 -100.356812  25.685593
3429282      9998  2020-12-30  0.126769 -0.034792 -100.387505  25.717325
3429283      9999  2020-12-30  0.516827 -0.087491 -100.453133  25.745949

[3429284 rows x 6 columns]

## Checkpoint 2

```python
# Se guarda en almacenamiento local para que no se muera el kernel por falta de memoria.
# Con 16 GB apenas y puede
data.to_parquet("temp.parquet.gzip", compression="gzip")
```

In [37]:
# data = pd.read_parquet("temp.parquet.gzip")
# data

In [4]:
data.dtypes

point_id       int16
date          object
ndvi         float32
ndwi         float32
longitude    float32
latitude     float32
dtype: object

In [7]:
# Ninguno de los valores en la columna de `date` tiene horas, minutos o segundos, solo la fecha

# data.date.dt.hour.value_counts(), data.date.dt.minute.value_counts(), data.date.dt.second.value_counts()

Se crea la tabla desde un inicio para poder almacenar los datos de los indices de vegetaciÃ³n.

Observa el siguiente [esquema](../../db/schema.sql) para la creaciÃ³n de las tablas

```sql
CREATE TABLE IF NOT EXISTS vegetation_index (
  point_id SMALLINT NOT NULL,
  date DATE NOT NULL,
  ndvi FLOAT(13) NOT NULL,
  ndwi FLOAT(13) NOT NULL,
  longitude FLOAT(13) NOT NULL,
  latitude FLOAT(13) NOT NULL
)
```

In [23]:
sql_client.write(
    df=data,
    table_name="vegetation_index",
    mode="append",
)

In [35]:
df = (
    sql_client.read("SELECT DISTINCT date FROM vegetation_index")
    .sort_values("date")
    .reset_index(drop=True)
)
df

            date
0     2018-01-01
1     2018-01-02
2     2018-01-03
3     2018-01-04
4     2018-01-05
...          ...
1745  2023-02-13
1746  2023-02-14
1747  2023-02-15
1748  2023-02-16
1749  2023-02-17

[1750 rows x 1 columns]

In [36]:
df["date"].min(), df["date"].max()

('2018-01-01', '2023-02-17')